:root {
  --main-color: #ffff00;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #252525;
  color: white;
}
.main-heder::before {
  width: 80px;
  background-color: white;
  bottom: -10px;
}
.sec-btn {
  padding: 6px 10px;
  border: 1px solid #837f7f;
  color: #837f7f;
  font-size: 12px;
}
.sec-btn:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}
/* start nav-bar */
.navbar #main ul li a {
  font-size: 12px;
  position: relative;
}
.navbar #main ul li a.active {
  color: var(--main-color) !important;
}
.navbar ul li a::before,
.main-heder::before {
  content: "";
  position: absolute;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
}
.navbar ul li a::before {
  display: none;
  background-color: var(--main-color);
  width: 20px;
  bottom: 0;
}
.navbar ul li a:hover::before {
  display: block;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler {
  border: 1px solid white;
  position: relative;
}
@media (min-width: 768px) {
  .navbar ul {
    margin-left: 100px;
  }
}
/* end nav-bar */
/* start landing */
.landing {
  height: 110vh;
  background-image: url("../img/main_img.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.landing::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #25252594;
}
.landing .text {
  z-index: 5;
}
.main-btn {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.main-btn:hover {
  background-color: var(--main-color);
}
/* end landing */
/* start artical */
.artical .image {
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.artical .image img {
  width: 100%;
}
.artical .image .text {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  padding: 10px;
  background-color: #25252594;
  width: 100%;
  box-shadow: 5px 0 20px 0 black;
}
.artical .image:hover {
  color: var(--main-color);
}
/* end artical */
/* start workout */
.workout .card-text {
  font-size: 12px;
}
.workout .card {
  border: 1px solid #ffff004f;
}
/* end workout */
/* satrt schedule */
.schedule table .time {
  font-size: 10px;
}
.schedule table td,
.schedule table th {
  font-size: 13px;
}
/* end schedule */
/* start media  */
.media .part {
  position: relative;
  height: 227px;
  overflow: hidden;
}
.media .part .disc {
  transition: 0.5s;
  position: absolute;
  top: 100px;
}
.media .disc .text {
  background-color: #bfc0c3;
  position: relative;
}
.media .disc img {
  transition: 0.3s;
  margin-bottom: 81px;
}
.media .disc .text::before {
  content: "";
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #bfc0c3 transparent;
  position: absolute;
  top: -29px;
  left: 50%;
  transform: translateX(-50%);
}
.media .disc span {
  font-size: 10px;
}
.media .disc p {
  font-size: 13px;
}
.media .part:hover .disc {
  top: 20px;
  cursor: pointer;
}
.media .part:hover .disc img {
  margin-bottom: 15px;
}
/* end media  */
/* start footer  */
.footer .icon .location {
  font-size: 55px;
}
.footer .text {
  border-left: 1px solid white;
}
.footer .infor {
  font-size: 12px;
}
.footer .social ul svg {
  width: 20px;
  height: 20px;
}
.footer .social .facebook {
  background-color: #1877f2;
}
.footer .social .twitter {
  background-color: #1da1f2;
}
.footer .social .linkedin {
  background-color: #0077b5;
}
.footer .social .youtube {
  background-color: #ff0000;
}
/* end footer  */
